body {
	background-image: url(back2.jpg);
	margin: auto;
}

.animisi:hover {
	display: block;
	color: lightsteelblue;
	background: #222;
}

.menu {
	font-family: 'comic sans ms';
	font-weight: bold;
	height: 80px;
	font-weight: 100%;
	background-color: black;
	font-size: 18px;
}

label {
	margin-left: 50px;
	float: left;
}

.menu h1 {
	margin: 8px;
	float: left;
	font-size: 23px;
	color: whitesmoke;
}

.menu ul {
	float: right;
	padding: 5px;
	background: none;
	display: block;
	margin: 0px;
}

.menu ul li {
	list-style: none;
	display: inline-block;
}

.menu ul li a {
	display: block;
	text-decoration: none;
	padding: 20px;
	color: whitesmoke;
}

.sjr {
	color: whitesmoke;
	font-size: 16px;
	margin-top: 100px;
	font-family:'arial';
}

.vm {
	font-family: 'arial';
	margin-top: 100px;
	color :white;
	font-size: 16px;
}

p {
	text-indent: 40px;
}

h3 {
	font-size: 20px;
	text-decoration: underline;
	font-family: 'comic sans ms';
}

footer {
	margin-top: 235px;
	background-color: black;
	height: 20px;
}

.cr {
	color: whitesmoke;
	text-align: center;
}

.lok {
	margin-left: 680px;
	margin-top: -300px;
}

.lok h3 {
	font-size: 30px;
	text-decoration: underline;
	color: white;
	font-family: 'comic sans ms';
}

.lok p {
	text-indent: 40px;
	color: white;
	font-family: 'arial';
}

.fotokampus {
	margin : 70px;
}

.fotokampus img {
	box-shadow: -30px 20px 20px rgba(0, 0, 0, 3);
	border-radius: 50px;
}

.tekin {
	margin: 50px;
}

.tekin h3 {
	font-family: 'comic sans ms';
	font-size: 20px;
	color: whitesmoke;
}

.tekin h4 {
	font-family: 'comic sans ms';
	color: whitesmoke;
	font-size: 18px;
}

.tekin p {
	text-indent: 40px;
	color: whitesmoke;
	font-family: 'arial';
}

.kombah {
	margin: 50px;
}

.kombah h3 {
	kombahfont-family: 'comic sans ms';
	font-size: 20px;
	color: whitesmoke;
}

.kombah h4 {
	font-family: 'comic sans ms';
	color: whitesmoke;
	font-size: 18px;
}

.kombah p {
	text-indent: 40px;
	color: whitesmoke;
	font-family: 'arial';
}

.ekbis {
	margin: 50px;
}

.ekbis h3 {
	font-family: 'comic sans ms';
	font-size: 20px;
	color: whitesmoke;
}

.ekbis h4 {
	font-family: 'comic sans ms';
	color: whitesmoke;
	font-size: 18px;
}

.ekbis p {
	text-indent: 40px;
	color: whitesmoke;
	font-family: 'arial';
}

.bikul h3{
	margin: 100px;
	color: whitesmoke;
	font-size: 20px;
}

.bikul p{
	margin-left: 82px;
	margin-top: -90px;
	font-size: 18px;
	font-family: arial;
	color: whitesmoke;
}

.bikul table{
	margin-top: 50px;
	margin-left: 100px;
	border-color: royalblue;
	font-family: 'arial';
	border-radius: 20px;
	box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 3);

}

.kontak table{
	border-color: steelblue;
	border-radius: 15px;
	margin-top: 100px;
	margin-left: 450px;
	font-family: 'calibri';
	text-align: center;
	box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 3);
}

form{
	margin-top: 100px;
	margin-left: 410px;
	font-family: 'comic sans ms';
	background-color: skyblue;
	height : 500px ;
	width: 500px;
	border: solid steelblue;
	border-radius: 50px;
	box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 3);
}

form h4 {
	margin-left: 50px;
	font-family: 'comic sans ms';
	text-decoration: underline;
	font-size: 20px;
}

form h6 {
	margin-top: -20px;
	margin-left: 70px;
	font-family: 'comic sans ms';
	font-weight: none;
	font-size: 15px;
}

form p {
	margin-left: 30px;
	word-spacing: 2px;
}

form p input {
	margin-left: 40px;
}

form p textarea{
	margin-left: 40px;
}

form input{
	margin-left: 220px;
}


.panpen {
	color: white;
	font-size: 16px;
	margin-top: 100px;
	font-family:'arial';
	margin-left: 40px;
}

.panpen h4 {
	font-family: 'comic sans ms';
	text-decoration: underline;
	font-size: 18px;
}

.isipan {
	color: white;
	font-size: 15px;
	font-family:'arial';
	margin-left: 70px;
}